{% extends 'base.html.twig' %}

{% block title %}Edit ActionType{% endblock %}

{% block body %}
    <h1>Edit ActionType</h1>

    {{ include('action_type/_form_profil.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_action_type_index') }}">back to list</a>

    {{ include('action_type/_delete_form.html.twig') }}
{% endblock %}
