{% extends 'base.html.twig' %}

{% block title %}New ActionType{% endblock %}

{% block body %}
    <h1>Create new ActionType</h1>

    {{ include('action_type/_form_profil.html.twig') }}

    <a href="{{ path('app_action_type_index') }}">back to list</a>
{% endblock %}
