{% extends 'base.html.twig' %}

{% block title %}Mes évenements{% endblock %}

{% block body %}
    <h1 class="m-3">Mes évenements</h1>
    <div class="container text-center">
        <div class="row row-cols-lg-4 row-cols-sm-2 mx-3">
            {% for action in actions %}
                {% include './components/show_action.html.twig' with {'action': action} %}
            {% else %}
                <p class="text-center">Aucun événement à venir</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
