{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1 class="m-3">Mon Profil</h1>
    {{ include('profil/_form_profil.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
