{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
    <h1 class="m-3">Changer mot de passe</h1>
    {{ include('profil/_form_password.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
