{% extends 'base.html.twig' %}

{% block title %}Modifier l'évenement{% endblock %}

{% block body %}
    <div class="m-3">
        <h1>Modifier l'évenement: {{ action.libelle }}</h1>
    </div>

    {{ include('action/_form.html.twig', {'from_page': 'edit'}) }}

{% endblock %}
