{% extends 'base.html.twig' %}

{% block title %}Action index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-start align-items-center m-3">
        <h1>Liste des évenements</h1>
        {% if is_granted('ROLE_ACTION_ADMIN') %}
        <a href="{{ path('app_action_new') }}" class="mx-3">
            <button type="button" class="btn btn-primary">Créer un évenement</button>
        </a>
        {% endif %}
    </div>

    <div class="m-3">
        <div class="mb-2">
            <button id="filter_button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="d-flex align-items-center" style="background-color: white; border: none;">
                <img src="{{ asset('images/arrow_down.png') }}" id="filter_arrow" alt="Arrow" style="width: 20px;">
                <h4 class="mb-0 mx-1">Filtrer</h4>
            </button>
        </div>
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="mx-3">
                        Sport
                        <select name="sport" id="sport">
                            <option value="rugby">Rugby</option>
                            <option value="football">Football</option>
                            <option value="hockey">Hockey sur glace</option>
                        </select>
                    </div>

                    <div class="mx-3">
                        Lieu
                        <input type="text" />
                    </div>

                    <div class="mx-3">
                        Type
                        <select name="type" id="type">
                            <option value="arbitre">Arbitrage</option>
                            <option value="joueur">Joueur</option>
                            <option value="organisation">Organisation</option>
                        </select>
                    </div>

                    <div class="mx-3">
                        Entre
                        <input type="date" />
                        et
                        <input type="date">
                    </div>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row row-cols-lg-4 row-cols-sm-2 mx-3">
            {% for action in actions %}
                {% include './components/show_action.html.twig' with {'action': action} %}
            {% else %}
                <p>Aucun événement</p>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('scripts/filter.js') }}"></script>
{% endblock %}
