{% extends 'base.html.twig' %}

{% block title %}Action index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-start align-items-center m-3">
        <h1>Liste des évenements</h1>
        <a href="{{ path('app_action_new') }}" class="mx-3">
            <button type="button" class="btn btn-primary">Créer un évenement</button>
        </a>
    </div>

    <div class="m-3">
        <div class="mb-2">
            <button id="filter_button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="d-flex align-items-center" style="background-color: white; border: none;">
                <img src="{{ asset('images/arrow_right.png') }}" id="filter_arrow" alt="Arrow right" style="width: 20px;">
                <h4 class="mb-0 mx-1">Filtrer</h4>
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row row-cols-lg-4 row-cols-sm-2 mx-3">
            {% for action in actions %}
                {% include './components/show_action.html.twig' with {'action': action} %}
            {% else %}
                <p>Aucun événement</p>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('scripts/filter.js') }}"></script>
{% endblock %}
