{% extends 'base.html.twig' %}

{% block title %}Créer un évenement{% endblock %}

{% block body %}
    <h1 class="m-3 mb-2">Créer un évenement</h1>

    {{ include('action/_form_profil.html.twig', {'from_page': 'new'}) }}
{% endblock %}
