<div style="width: 40%">
    <form method="post" action="{{ path('app_ressource_remove', {'id': ressource.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ressource?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
        <button class="btn btn-outline-danger" style="width: 100%">Supprimer</button>
    </form>
</div>
